@tailwind base;
@tailwind components;
@tailwind utilities;

@media (max-width: 768px) {
  body {
    font-size: 12px; /* Adjust the font size for smaller devices */
  }

  table th {
    font-size: 9px !important;
    min-width: 100px;
  }
  table td {
    font-size: 12px !important;
  }
  .text-2xl {
    font-size: 15px; /* Adjust the font size for smaller devices */
  }
}

@media screen and (max-width: 400px) {
  .logo {
    font-size: smaller; /* Change this value as needed */
  }
}

@media screen and (max-width: 360px) {
  .logo {
    font-size: 20px;
  }
}

/* Table header styles */
table thead tr th {
  background-color: rgb(175 121 149) !important; /* Soft Blue */
  color: #ffffff !important; /* White */
}

/* Alternative row colors for better readability */
table tbody tr:nth-child(even) {
  background-color: #f2f2f2 !important; /* Light Gray */
}
